.botao {
    background-color: var(--corselecionado);
    color: var(--corlivre);
    border: none;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    width: 200px;
    transition: background-color 0.3s ease;
  }
  
  .botao:hover {
    background-color: var(--corselecionado);
  }
  
  .preco {
    margin-left: 8px;
    font-size: 1rem;
  }
  